# frontend
frontend/node_modules/
frontend/.env
frontend/build/


# backend
backend/node_modules/
backend/.env


# scraper
scraper/virtualEnv/
scraper/venv/
scraper/__pycache__/
scraper/*.pyc
scraper/*.pyo
scraper/*.pyd
scraper/.python-version
# selenium (when used)
scraper/geckodriver.log
scraper/chromedriver


# general
.DS_Store
.env
*.log
